<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html class="x-border-box x-strict"><head>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    <title>Bar Chart</title>





</head>
    <body class="x-body x-gecko x-mac x-reset" id="docbody">
    <h1>Stacked Bar Chart Sample</h1>
    <div style="margin: 10px;">
        <p>
            Display a sets of random data in a bar series. Reload data will randomly generate a new set of data in the store. <a href="http://dev.sencha.com/deploy/ext-4.1.0-gpl/examples/charts/Bar.js">View Source</a>
        </p>
    </div>